* {padding: 0; margin: 0; }

body {background: #F6F6F6;}


menu {height: 80px; background: white; justify-content: center;}

menu nav {width: 1000px; height: 40px; margin: auto; padding: 20px;}

nav ul li {float: left; list-style: none; font-family: monospace; }
	
nav ul li a {margin-right: 15px; text-decoration: none; padding: 15px 15px; color: black; }

nav ul li ul {display: none;}
menu ul li:hover > ul {display: block;z-index: 1; }
menu ul li ul{ position: absolute;}
menu ul li ul .shop li {float: none; position: relative; padding-right: 95px; background-color: white; right: 160px; }

menu ul li ul .blog li {float: none; position: relative; padding-right: 115px; background-color: white; right: 160px; }

menu ul li ul { position: absolute;}

nav {position: relative; line-height: 40px; width: 900px; }

nav ul .superb li {font-size: 40px; margin-right: 100px;}

nav ul .lainya li {font-size: 20px;}

nav ul li ul li {float: none;
	position: relative; background: white;
}



nav ul .lainya li:hover {background: #F6F6F6; }

nav ul .lainya img {width: 20px; height: auto; padding: 5px; }

article {margin: auto; width: 1000px; background: white; margin-top: 40px; margin-bottom: 40px; padding: 30px 20px 50px 20px; font-family: arial;}
article h1 {font-size: 35px; margin-bottom: 30px;}
article h2 {margin-bottom: 30px;}
.acc p {margin-bottom: 5px;}
.acc .star {color: red;}
.acc .lost {color: black;}
.acc input[type=text] {margin: 10px 0 10px 0; width: 960px; font-size: 14px;}
.acc input[type=password] {margin: 10px 0 20px 0; width: 965px; font-size: 14px; height: 30px; padding: 5px;}
.acc input[type=submit], button[type=button] {padding: 6px 14px 6px 14px; background: black; color: white; border-radius: 5px; font-weight: 700; font-size: 15px; margin-bottom: 10px;}
.acc input[type=checkbox] {margin: 0 10px 0 10px;}
.acc a {text-decoration: underline; color: black;}

footer {background: black;}
footer .atas {color: white; display: flex; justify-content: center; padding: 5px;  }
footer .atas .sosmed {width: 300px; padding: 15px; font-size: 12px;}
footer .atas .poto img {width: 30px; height: 30px; float: left; clip-path: circle(50%); margin-left:10px; transform: translate(-10px, 0px)}
footer .atas .poto img:hover {transform: scale(1.2);}

footer .atas .sosmed {width: 300px; font-family: arial; }
footer .atas .sosmed h2 {border-bottom: solid white 1px; padding: 10px; }
footer .atas .sosmed .berita {float: left; padding: 10px; width: 300px;}
footer .atas .sosmed .berita a {text-decoration: none; color: white; }
footer .atas .sosmed .berita img {width: 40px; height: 40px; float: left; padding-right: 10px;} 

footer .atas .sosmed .tool {position: relative; }
footer .atas .sosmed .tool .tips {display: inline; padding: 10px;}
footer .atas .sosmed p {margin-top: 30px;}
input[type=text] {padding: 10px; font-family: arial;}
input[type=submit], button[type=button] {padding: 10px; font-family: arial;}

footer .bawah {color: white; text-align: center; font-size: 15px; line-height: 40px; height: 40px; margin-top: 30px;}